
.header-logo {
	background: url("/Users/nehagarg/Desktop/Neha-UI/f_red.png") no-repeat;
	height: 90px;
	width: 180px;
	display: inline;
	background-size: contain;
}
.header-whole-column{
	display: flex; l
	list-style: none;
}