ul {
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;
}

.header-item {
	float: right;
	width: 1100px;
	position: relative;
	bottom: 120px;
}

li.header-primary-menu-item-1 {
	float: right;
	width: 950px;
	position: relative;
	bottom: 140px;
}

li.header-primary-menu-item-2 {
	float: right;
	width: 840px;
	position: relative;
	bottom: 158px;
}

li.header-primary-menu-item-3 {
	float: right;
	width: 700px;
	position: relative;
	bottom: 177px;
}

li.header-primary-menu-item-4 {
	float: right;
	position: relative;
	bottom: 177px;
	color: red;
	left: 270px;
}

li.header-primary-menu-item-5 {
	float: right;
	position: relative;
	bottom: 183px;
	left: 520px;
	border: 1px solid black;
	margin: 100px 150px 100px 80;
	background-color: #D9272D;
	color: white;
	padding: 5px 5px 5px 5px;
	font-family: 'Open Sans', sans-serif;
}

div.header-primary {
	background-color: #C0C0C0;
}

li.header-primary-menu-item-6 {
	width: 130px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 20px 20px;
	background-repeat: no-repeat;
	left: 800px;
	float: right;
	bottom: 180px;
	position: relative;
}

li.header-primary-menu-item-second-main-1 {
	float: right;
	position: relative;
	bottom: 120px;
	left: 45px;
}

li.header-primary-menu-item-second-main-2 {
	float: right;
	position: relative;
	bottom: 120px;
	left: 265px;
}

li.header-primary-menu-item-second-main-3 {
	float: right;
	position: relative;
	bottom: 120px;
	left: 470px;
}

li.header-primary-menu-item-second-main-4 {
	float: right;
	position: relative;
	bottom: 120px;
	left: 670px;
}

li.header-primary-menu-item-second-main-5 {
	float: right;
	position: relative;
	bottom: 138px;
	left: 620px;
}

li.header-primary-menu-item-second-main-6 {
	float: right;
	position: relative;
	bottom: 150px;
	width: 125px;
	left: 950px;
	border: 1px solid black;
	margin: 100px 100px 100px 100;
	background-color: #D9272D;
	color: white;
	padding: 15px 15px 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

html, body {
	margin: 0;
	padding: 0;
}