@import 'common.scss'
$color: #FFF;
$font-size: 12px;
$font-weight: bold;

.header {
	color: $color;
	font-size: $font-size;
	font-weight: $font-weight;
}

.parent {
		border: 1px solid red;
	ul {
			width: 100%;
		li {
			padding: 10px;
			a {
				font-size: $font-size;
			}
		}
	}
}
